@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.section-center {
  background-color: #ebf3fb;
  display: flex;
  justify-content: center;
  height: 100hv;
}

.container {
  margin: 3.125rem auto 3.125rem auto;
  width: 700px;
  height: auto;
  padding: 1.875rem;
  border-radius: 0.625rem;
  background-color: white;
  box-shadow: 0 5px 0.938rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s linear;
}
.container:hover {
  box-shadow: 0 5px 0.938rem rgba(0, 0, 0, 0.2);
}
.alert {
  font-size: 0.813rem;
  width: 80%;
  text-align: center;
  margin: 0.625rem auto;
  padding: 5px;
  border-radius: 0.625rem;
  outline: none;
  visibility: hidden;
}

.alert-danger {
  background-color: rgb(252, 163, 163);
  visibility: visible;
}
.alert-success {
  background-color: rgb(217, 252, 164);
  visibility: visible;
}
#form {
  margin: auto;
  align-content: center;
  transition: all 0.3s linear;
}
label {
  font-size: 0.813rem;
}
select {
  margin-top: 0.625rem;
  transition: all 0.3s linear;
  width: 20%;
  text-align: center;
  border-radius: 4px;
  background-color: #eff4f8;
}
select:focus {
  background-color: #a6cdea;
}
input {
  outline: none;
  border-style: none;
  background-color: #eff4f8;
  width: 100%;
  padding: 0.625rem;
  border-radius: 0.5rem;
  margin: 0.938rem auto;
  transition: all 0.3s linear;
}
input:focus {
  background-color: #a6cdea;
}

.btn-submit {
  padding: 0.5rem;
  width: 25%;
  margin-top: 0.625rem;
  background-color: #a6cdea;
  outline: hidden;
  border-style: hidden;
  border-radius: 4px;
  transition: all 0.3s linear;
  color: white;
}
.btn-submit:hover {
  background-color: #3198ed;
  color: white;
}

.delete-btn {
  color: red;
  font-size: 12px;
}
.table {
  width: auto;
  margin: 50px auto 0 auto;
  height: auto;
  overflow: scroll;
  transition: all 0.3s linear;
  visibility: hidden;
}
.show-table {
  visibility: visible;
}
th {
  background-color: #eff4f8;
  padding: 0.625rem;
  font-size: 0.813rem;
  border-collapse: collapse;
  font-weight: lighter;
}
th,
td {
  border-bottom: 1px solid #ddd;
  text-align: center;
  font-size: 0.813rem;
  font-weight: lighter;
}
tr:hover {
  background-color: #f5f5f5;
}
@media screen and (max-width: 760px) {
  body {
    font-size: 0.813rem;
  }
  .container {
    width: 95%;
  }
}
